.main-page{
    height: 700px;
    width: 100%;
    /* background-image: url("background.jpg");
    background-size: 100% 100% ; */
    /* position: absolute; */
   }
 .back-image{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
 }  
 .diamond{
    margin-top:10%;
    margin-left:20%;
    position: absolute;
    z-index: 0;
    height: 450px;
    width: 450px;
    transform: rotate(45deg);
 }
 h1{
   margin-top:15%;
    margin-left:16%;
    position: absolute;
    z-index: 1;
    font-size: 4.5rem;
    font-family: "Libre Baskerville" ;
    color: white;
 }
 .small-head{
    margin-top:23%;
    margin-left:16%;
    margin-right: 35%;
    position: absolute;
    z-index: 1;
    font-family:"Darker Grotesque";
    font-size: 3rem;
    color: white;
 }
 .small-img{
   margin: 6.2% auto 20px 110px;
   width: 350px;
   height:250px;
 }
 .image-text{
   margin: auto auto auto 110px;
   font-size: 2rem;
   width: 350px;
   display: inline-block;
 }
 .small2{
   margin: 0px auto 100px 250px;
   padding-top: 0px;
 }
 .image2-text{
   margin: auto auto auto 110px;
   font-size: 2rem;
   width: 350px;
   display: inline-block;
 }
 .contact{
  margin-left: 800px;
  margin-right: 225px;
  margin-top: 100px;
 }
 .contact-head{
  margin-top: 140px;
  font-size: 4.5rem;
 }
 .contact-info{
  margin-top: 30px;
  font-size: 2rem;
 }
 .message{
  margin-top: 40px;
  font-size: 1.7rem;
 }
